---
extends: default

rules:
  # 120 chars should be enough, but don't fail if a line is longer
  line-length:
    max: 120
    level: warning
  # accept both {{var}} and {{ var }}
  braces:
    max-spaces-inside: 1
    level: error
  # don't require document start markers
  document-start:
    present: false
  # allow different indentations in block sequences
  indentation:
    spaces: 2
    indent-sequences: consistent
  truthy:
    check-keys: false # Allow yes/no in keys
