---
- name: Install base packages
  ansible.builtin.apt:
    name: "{{ base_packages }}"
    state: present
    update_cache: yes

- name: Install networking utilities
  ansible.builtin.apt:
    name: "{{ network_packages }}"
    state: present

- name: Install Python development packages
  ansible.builtin.apt:
    name: "{{ python_packages }}"
    state: present

- name: Install virtualization packages
  ansible.builtin.apt:
    name: "{{ virtualization_packages }}"
    state: present
  when: ansible_facts['distribution'] == 'Ubuntu'
