---
- name: Clone dotfiles repository
  ansible.builtin.git:
    repo: "{{ dotfiles_repo }}"
    dest: "{{ dotfiles_dest }}"
    update: no
    accept_hostkey: yes
  become_user: "{{ ansible_user }}"
  register: git_clone

- name: Ensure required directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0700"
  loop:
    - "{{ dotfiles_base_dest }}/.config/ruff"
    - "{{ dotfiles_base_dest }}/.config/Code/User"

- name: Create symlinks for dotfiles
  ansible.builtin.file:
    src: "{{ dotfiles_dest }}/{{ item.src }}"
    dest: "{{ dotfiles_base_dest }}/{{ item.dest_suffix }}"
    state: link
    force: yes
    follow: no
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0600"
  loop: "{{ dotfiles_items }}"
